// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~font-awesome";
@import "~leaflet";

#map {
    float: right;
    width: 60% !important;
    height: 80vh !important;
}
.gnw-map-service {
    width: 60% !important;
    height: 80vh !important;
    float: right;
}
.gnw-map-service__osm {
    background: rgb(221, 221, 221);
}
.gnw-map.fade {
    transition: opacity .15s linear;
}
.gnw-map.fade:not(.show) {
    opacity: 0;
}
